/*
body {padding: 1em}     // Todos los rellenos valen 2em 
body {padding: 1em 2em} // Superior e inferior = 1em, Izquierdo y derecho = 2em 
body {padding: 1em 2em 3em} // Superior = 1em, derecho = 2em, inferior = 3em, izquierdo = 2em 
body {padding: 1em 2em 3em 4em} // Superior = 1em, derecho = 2em, inferior = 3em, izquierdo = 4em 
*/
body, html {font-family: "Montserrat";
    height: 98%;
    /*background-image: url(fondo.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;    */
}

div img { margin: .5em .5em .5m 1em;}

div img {
  margin-top: .3em;
  margin-bottom: .3em;
  margin-left: 1em;
  margin-right: .5em;
}   

p {direction: ltr;
   /*white-space: pre;              */
   font-size: 13px; 
   word-spacing: 0.05em;              /*espacio adicional entre palabras */
   letter-spacing: 0.1em;          /*espacio adicional entre letras (si neg --> se quita */
   text-align: justify;
}


p:first-letter {              
  font-size: 2em;
  font-weight: bold;
}

p:first-line {               
  /*text-indent: 20px;*/
  
}


.centrar  { float: center; }
/*.sinBorde { border: none;}*/

#chich {
  margin-top: 15px;
}

#cabecera01 { text-align: center;}

#cabecera02 {
	text-align: center;
	color: #c1c1c1;
	height:32px;
}

.bordea {border: 1px solid #bebebe;
		 border-radius: 6px;
		}

.padea {padding: 16px 8px;}	
.margea {margin: 16px 8px;}	
.margea-d {margin-right: 0px;}	
		

#menues {
    float: left;
    width: 15%;
	margin-right: 5px;
}

#contenido {
    float: left;
    width: 82%;
}

#principal {
    float: left;
    width: 100%;
}
#secundario {
    float:  left;
    width: 15%;
}

.c_azul {color: #00a}
.c_verde {color: #070}
.c_rojo {color: #a00}

#pie01 {clear: both;}

.negrita { font-weight: 600}


.futer {
	
	position: fixed;
	bottom: 5px;
	right:5px;
	font-size: 8px;
	height: 23px;
	color: #888;
}
